<head>
    <!-- CHARACTER ENCODING -->
        <meta charset="UTF-8">
    
    <!-- LATEST VERSION OF RENDERING ENGINE -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!--TITLE OF OUR WEBSITE -->
        <title>Brent De Roeck Webdeveloper|Designer</title>
    
    <!-- FAVICON -->
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        
    <!-- OTHER IMPORTANT SEO TAGS -->
        <meta name="description" content="Portfolio site for Brent De Roeck, Webdeveloper and designer">
        <meta name="keywords" content="HTML5, CSS3, JavaScript, javaScript, Geeks, Webdevelopment">
        <meta name="author" content="Brent De Roeck">

    
    <!-- HUMANS AUTHORS TEXT FILE -->
        <link type="text/plain" rel="author" href="humans.txt">
    
    <!-- MOBILE VIEWPORT -->
       <meta name="viewport" content="width=device-width">

    <!-- Stylesheet-->
        <link rel="stylesheet" href="css/main.css" type="text/css">        
    


    